<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">


    <sql id="s2">
        id,url,title,duration,asize,status,createdate,albumId
    </sql>

    <select id="getAll" resultType="Chapter">
        select
        <include refid="s2"/>
        from chapter where albumId=#{albumId} limit #{begin},#{rows}
    </select>

    <select id="getCount" resultType="Integer">
        select count(id) from chapter where albumId=#{albumId}
    </select>

    <insert id="add" parameterType="Chapter">
        insert into chapter values (#{id},#{title},#{url},#{asize},#{duration},#{createdate},#{albumId},#{status})
    </insert>
    <update id="update" parameterType="Chapter">
        update chapter set url=#{url},asize=#{asize},duration=#{duration}
            where id=#{id}
    </update>


</mapper>